.container{
  margin: auto;
  max-width: 600px;
}

.done{
  text-decoration: line-through;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.item{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 30px;
  align-items: center;
  
  padding: 15px;
  margin-top: 10px;
}

.card{
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addBtn{
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: none;
  background-color: #52e4f2;
  color: white;
  border-radius: 25px;
}

.modal{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.041);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide{
  display: none;
}

.cardModal{
  padding: 20px;
  background-color: white;
}